@import "_libs";
@import "_vars";
@import "_global";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.hero{
    padding-bottom: 57px;
    background-image: url(images/hero/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    filter: drop-shadow(15px 15px 15px rgba(180, 180, 180, 0.25));
    &__inner{
        position: relative;
        margin-top: 87px;
        padding-right: 140px;
        padding-left: 68px;
        @include for-md{
            padding: 0 40px;
            margin-top: 41px;
        }
        @include for-md-mob{
            padding: 0 20px;
        }
    }
    &__list{
        margin-top: 22px;
        font-size: 24px;
        line-height: 35px;
        color: $white;
        @include for-md{
            display: none;
        }
    }
    &__form{
        margin-top: 32px;
        width: 100%;
    }
    &__form-title{
        margin-bottom: 13px;
        font-size: 24px;
        line-height: 34.97px;
        color: $white;
        @include for-md{
            font-size: 20px;
            line-height: 24px;
        }
        @include for-md-mob{
            font-size: 15px;
            line-height: 19px;
        }
    }
    &__form-item{
        @include for-md-mob{
            margin-bottom: 84px;
        }
    }
}

.header{
    padding: 12px 140px 12px 68px;
    @include for-lg{
        padding: 12px 20px;
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__phone-item{
        position: relative;
    }
}
.logo{
    width: 49px;
    height: 60px;
    margin-right: 20px;
    @include for-md{
        margin-right: 0;
    }
    &__img{
        @include for-md{
            display: none;
        }
        &--mobile{
            display: none;
            @include for-md{
                display: block;
            }
        }
    }
}
.menu{
    margin-left: auto;
    color: $white;
    @include for-md{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 0;
        padding: 5px 26px 48px;
        box-shadow: 8px 8px 8px rgba(113, 113, 113, 0.25);
        border-radius: 3px;
        background-color: $white;
        color: $black;
        right: 21px;
        z-index: 10;
        transition: .3s;
        &.opened{
            visibility: visible;
            opacity: 1;
            top: 74px;
        }
    }
    ul{
        display: flex;
        align-items: center;
        @include for-md{
            flex-direction: column;
            align-items: flex-start;
            font-size: 13px;
            font-weight: 300;
            line-height: 17.7px;
        }
    }
    li{
        position: relative;
        font-size: 15px;
        line-height: 19px;
        transition: .3s;
        @include for-md{
            &::before{
                content: '';
                display: none;
                position: absolute;
                right: calc(100% + 7px);
                width: 19px;
                height: 1px;
                background-color: $blue;
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover{
                
                transform: translateX(26px);
                color: $blue;
                &:before{
                    display: block;
                }
            }
        }
        
    }
    li+li{
        margin-left: 26px;
        @include for-lg{
            margin-left: 20px;            
        }
        @include for-md{
            margin-left: 0;
            margin-top: 20px;
        }
    }
}
.header-phone{
    display: flex;
    flex-direction: column;
    margin-left: 87px;
    color: $white;
    @include for-md{
        margin-left: auto;
    }
    &__item{
        position: relative;
        display: flex;
        align-items: center;
    }
    &__icon-container{
        position: relative;
        display: flex;
        align-items: center;
        margin: 4.85px;
        justify-content: center;
        margin-right: 11px;
        width: 28px;
        height: 28px;
        background-color: $red;
        border-radius: 50%;
        flex-shrink: 0;
        &::before{
            content: '';
            position: absolute;
            width: 37.7px;
            height: 37.7px;
            background-color: transparent;
            border: 0.3px solid $red;
            border-radius: 50%;
            @include for-md{
                border-color: rgba($color: $white, $alpha: .4);
            }
        }
        @include for-md{
            background-color: transparent;
            border: 1px solid $white;
        }
    }
    &__icon{
        position: relative;
        fill: $white;
        width: 13px;
        height: 13px;
        z-index: 10;
    }
    &__number{
        @include for-md{
            display: none;
        }
    }
}

.video-more{
    &__inner{
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 53px;
        @include for-md{
            margin-top: 0;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 24px;
        color: $white;
        @include for-md{
            display: none;
        }
    }
    &__link-container{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @include for-lg{
            position: relative;
            left: auto;
            margin-left: 100px;
        }
        @include for-md{
            left: 50%;
            margin-left: 0;
        }
    }
    &__link{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: $red;
        @include for-md{
            background: rgba(255, 255, 255, 0.2);
            width: 46px;
            height: 46px;
        }
    }
    &__icon-play{
        fill: $white;
        width: 19px;
        height: 18px;
        margin-left: 4px;
    }
    &__icon-arrow-right{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 44px;
        height: 10px;
        fill: $red;
        left: -100%;
        @include for-md{
            display: none;
        }
    }
}
.hero-delivery-form{
    position: absolute;
    max-width: 301px;
    right: 100px;
    background: linear-gradient(246.18deg, rgba(34, 68, 119, 0.95) 73.15%, rgba(34, 68, 119, 0.665) 101.86%);
    box-shadow: 8px 8px 8px rgba(113, 113, 113, 0.25);
    border-radius: 10px;
    padding: 19px 10px 22px;
    bottom: 129px;
    @include for-md{
        display: none;
    }
    &__title{
        font-size: 20px;
        font-weight: 600;
        line-height: 23.48px;
        text-align: center;
        color: $white;
    }
    &__subtitle{
        margin-top: 9px;
        font-size: 14px;
        line-height: 20.85px;
        text-align: center;
        color: $white;
    }
    &__container{
        display: flex;
        margin-top: 21px;
        align-items: center;
        flex-direction: column;
        padding: 0 30px;
    }
    &__input{
        &+&{
            margin-top: 21px;
        }
    }
    &__submit{
        padding: 13.5px 10px;
        margin-top: 11px;
        font-size: 12px;
        line-height: 18px;
        width: 100%;
    }
}

.features{
    padding: 0 20px;
    @include for-md-mob{
        padding: 0;
    }
    &__inner{
        display: flex;
        max-width: 1300px;
        
        flex-direction: column;
        margin: 187px auto 0;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 43px;
        @include for-md-mob{
            margin-top: 28px;
        }
    }
    &__container{
        max-width: 278px;
        width: 100%;
        margin-bottom: 19px;
        &+&{
            padding-left: 19px;
            @include for-md-mob{
                padding-left: 6px;
            }
        }
        @include for-md-mob{
            max-width: 100%;
            width: 50%;
            margin-bottom: 15px;            
        }
    }
}

.features-item{
    display: flex;
    padding: 23px 10px 18px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 15px 15px 15px rgba(180, 180, 180, 0.25);
    border-radius: 10px;
    background-color: $white;
    min-height: 201px;
    
    &__img-block{
        min-height: 85px;
    }
    &__title{
        margin-top: 13px;
    }
}
.modal{
    position: fixed;
    display: flex;
    visibility: hidden;   
    opacity: 0; 
    align-items: center;    
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: rgba($color: $black, $alpha: .6);
    transition: .3s;
    &.show{
        visibility: visible;
        opacity: 1;        
    }
}

.modal-features{
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 357px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 1165px;
        @include for-md-mob{
            height: auto;
            border-radius: 10px;
        }
    }
    &--low-price{
        .modal-features__inner{
            max-width: 750px;
        }
    }
    &--low-price-delivery{
        .modal-features__inner{
            max-width: 697px;
        }
    }
    &--short-delivery-times{
        .modal-features__inner{
            max-width: 697px;
        }
    }
    &--uninterrupted-delivery{
        .modal-features__inner{
            max-width: 626px;
        }
    }
    &--warranty{
        .modal-features__inner{
            max-width: 610px;
        }
    }
    &--managers{
        .modal-features__inner{
            max-width: 531px;           
        }
    }
    &--high-quality{
        .modal-features__inner{
            max-width: 628px;
        }
    }
    
    &__inner{
        padding: 12px 30px 14px;        
        background: linear-gradient(246.18deg, rgba(34, 68, 119, 0.95) 73.15%, rgba(34, 68, 119, 0.665) 101.86%);
        box-shadow: 8px 8px 8px rgba(113, 113, 113, 0.25);
        border-radius: 0 10px 0 0;
        font-size: 15px;
        line-height: 23.36px;
        color: $white;
        @include for-md-mob{
            padding: 49px 18px;
            max-width: 100% !important;
            border-radius: 10px;
            font-family: 'Comfortaa', cursive;
        }
    }
    &__title{
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
        line-height: 28.24px;
        @include for-md-mob{
            font-size: 17px;
            line-height: 24px;
        }
    }
    &__subtitle{
        margin-bottom: 15px;
        @include for-md-mob{
            font-size: 15px;
            line-height: 24px;
        }
    }
    &__desc{
        margin-bottom: 24px;
        color: $light-red;
    }
    &__red-text{
        color: $light-red;
    }
}

.product-choose{
    @include for-md{
        padding: 0 0 0 20px;
    }
    @include for-md-mob{
        padding: 0;
    }
    &__inner{
        margin-top: 96px;
    }
    &__product-settings{
        margin-top: 146px;
        @include for-sm{
            margin-top: 18px;
        }
    }
    &__product-item{
        margin-top: 106px;
        @include for-sm{
            margin-top: 34px;
        }
    }
}

.product-settings{
    &__title{
        font-size: 20px;
        font-weight: 700;
        line-height: 28.24px;
        text-align: center;
        @include for-md-mob{
            text-align: left;
        }
    }
    &__form{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 35px;
        @include for-md{
            flex-direction: column;
            align-items: center;
        }
    }
    &__container{        
        @include for-md{
            width: 50%;
        }
        @include for-sm{
            width: 100%;
        }
        &--type{            
            min-width: 316px;
            @include for-md{
                min-width: 0;
            }
        }
        &+&{
            margin-left: 44px;
            @include for-md{
                margin-left: 0;
                margin-top: 32px;
            }
        }
    }
    &__radio-btns{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        &--mark{
            height: 190px;
        }
    }
    &__container-title{
        margin-bottom: 22.5px;
        font-size: 18px;
        font-weight: 700;
        line-height: 25.42px;
    }
    &__item{
        margin-bottom: 26px;
        margin-right: 46px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__label{
        position: relative;
        font-size: 17px;
        line-height: 24px;
        padding-left: 34px;
        transition: .3s;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-color: rgba($color: $red, $alpha: .1);
            box-shadow: 15px 15px 15px rgba(180, 180, 180, 0.25);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            transition: .3s;
        }
    }

    &__radio:checked + &__label{
        font-weight: 700;
        &:before{
            background-color: $red;

        }
    }

    &__radio{
        display: none;
    }
}

.company-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    @include for-md{
        overflow-x: scroll;
    }
    &__item{
        padding: 24px 34px;
        opacity: .3;
        border-radius: 10px;
        background-color: $white;
        transition: .3s;
        cursor: pointer;
        @include for-xl{
            padding: 20px;
        }
        &:hover{
            opacity: 1;
            box-shadow: 15px 15px 15px rgba(180, 180, 180, 0.25);
        }
    }
}

.product-item{
    &__inner{
        display: flex;
        align-items: center;
        @include for-md{
            flex-direction: column;
        }
    }
    &__img-block{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 90px;
        max-width: 630px;
        background: #F9F9F9;
        box-shadow: 0px 0px 10px rgba(180, 180, 180, 0.3);
        @include for-xl{
            padding: 5px 40px;
        }
        @include for-md{
            width: 100%;
            max-width: 100%;
        }
    }
    &__img{
        max-height: 306px;
        @include for-md-mob{
            width: 100%;
        }
    }
    &__text-block{
        display: flex;
        padding-right: 10px;
        flex-wrap: wrap;
        margin-left: 4px;
        min-height: 322px;
        width: 100%;
        padding: 24px 10px 39px 50px;
        box-shadow: 8px 8px 8px rgba(180, 180, 180, 0.05);
        @include for-xl{
            padding-left: 30px;
        }
        @include for-md{
            margin-left: 0;
            flex-direction: column;
            padding-left: 12px;
        }
    }
    &__leftside{
        width: 50%;
        @include for-md{
            width: 100%;
        }
    }
    &__rightside{
        width: 50%;
        @include for-md{
            width: 100%;
        }
    }
    &__manufacturer{
        width: 100%;
        margin-bottom: 12.5px;
        font-size: 18px;
        line-height: 25.42px;
    }
    &__manufacturer-item{
        margin-left: 17px;
        color: $light-red;
    }
    &__title{
        margin-bottom: 11.25px;
        font-weight: 600;
        font-size: 23px;
        line-height: 34.32px;
    }
    &__min-for-order{
        margin-bottom: 26px;
        line-height: 21.18px;
        @include for-md{
            margin-bottom: 19px;
        }
    }
    &__price{
        font-weight: 700;
        font-size: 30px;
        line-height: 44.76px;
        color: $light-red;
        @include for-md{
            margin-bottom: 19px;
        }
    }
    &__specifications{
        font-size: 20px;
    }
    &__specifications-title{
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 28.24px;
    }
    &__specifications-th{
        font-weight: 400;
        font-size: 18px;
        line-height: 25.42px;
        text-align: left;
    }
    &__specifications-td{
        padding-left: 22px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25.42px;
        color: $light-red;
    }
    &__order{
        margin-top: 31px;
        padding: 21px 95px;
        font-size: 16px;
        font-weight: 700;
        line-height: 23.87px;
        border-radius: 50px;
        @include for-md-mob{
            padding: 14.5px 98px;
            width: 100%;
        }
    }
}

.modal-order{
    &__body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 57px 52px;
        max-width: 423px;
        background-color: $white;
        box-shadow: 8px 8px 8px rgba(113, 113, 113, 0.25);
        border-radius: 10px;
        @include for-sm{
            padding: 34px 19px 34px;
        }
    }
    &__title{
        margin-bottom: 16px;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        @include for-sm{
            margin-bottom: 9px;
            font-size: 17px;
            line-height: 24px;
        }
    }
    &__product-title{
        margin-bottom: 9px;
        align-self: flex-start;
    }
    &__input{
        padding: 13.5px 24px;
        width: 100%;
        max-width: 282px;
        margin-bottom: 22px;
        font-weight: 300;
        line-height: 22px;
        box-shadow: 8px 8px 8px rgba(113, 113, 113, 0.25);
        border-radius: 37px;
        border: 0.5px solid rgba(0, 0, 0, 0.12);
        @include for-sm{
            max-width: 252px;
        }
        @include for-md-mob{
            padding: 10px 24px;
            margin-bottom: 17px;
        }
    }
    &__submit{
        width: 100%;
        padding: 16.5px 18px;
        margin-bottom: 17px;
        border-radius: 37px;
        font-size: 16px;
        font-weight: 700;
    }
    &__consent{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin: 0 -15px;
        @include for-md-mob{
            font-size: 12px;
            line-height: 19px;
        }
    }
}

.special-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 15px;
    margin-top: 49px;
    background-image: url(images/special-price/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    color: $white;
    &__title{
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
    }
    &__subtitle{
        line-height: 23px;
        margin-bottom: 37px;
    }
    &__form-item{
        max-width: 356px;
        width: 100%;
    }
    &__input{
        max-width: 356px;
    }

}

.manufacturers{
    &__inner{
        position: relative;
        margin-top: 88px;
    }
    &__wrapper{
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 42px auto 0;
        max-width: 906px;       
    }
    &__logo{
        
    }
    &__row{
        position: relative;
        display: flex;
        &:before{
            content: '';
            position: absolute;
            height: 94px;
            width: 100%;
            background-color: $red;
            top: 0;
        }
        @include for-md{
            flex-direction: column;
        }
        .container{
           display: flex; 
           @include for-md{
                flex-direction: column;
            }
        }
    }
    &__container{
        width: 33.333%;
        padding-right: 31px;
        @include for-xl{
            padding-right: 15px;
            margin-bottom: 20px;
            width: 50%;
        }
        @include for-md-mob{
            width: 100%;
            padding-right: 0;
        }
    }
    &__item{
        margin-top: 40px;
    }
    &__advertising{
        position: relative;
        margin-top: 42px;
        margin-right: 56px;
        border-radius: 10px;
        @include for-xl{
            margin-left: 30px;
        }
        @include for-md-mob{
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.manufacturer-item{
    position: relative;
    display: flex;
    padding: 35px 10px 24px;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 15px 15px rgba(180, 180, 180, 0.25);
    border-radius: 10px;
    background-color: $white;
    &__logo{
        position: absolute;
        transform: scale(.5);
        transform-origin: top right ;
        top: 20px;
        right: 14px;
        
    }
    &__img-block{
        margin: 26px auto 0;
        width: 211px;
        height: 141px;
    }
    &__img{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__text-block{
        display: flex;
        flex-direction: column;
    }
    &__title{
        padding: 0 36px ;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
    }
    &__spec{
        margin-top: 16px;
    }
    &__spec-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
    }
    &__price{
        padding: 14px 84px;
        font-size: 16px;
        font-weight: 700;
        line-height: 23.87px;
        border-radius: 50px;
        margin: 19px auto 0;
    }
    &__td{
        padding-left: 37px;
    }
    &__sale{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background-color: $red;
        border-radius: 50%;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $white;
        text-transform: uppercase;
        top: 3px;
        left: 10px;
    }
    
}